.preloader-wrap {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0; 
  bottom: 0;
  background: #000;
  z-index : 99999999; 
}
.loader-bg {
  width: 100%;
  height: 100%;
  background-image: url(../img/villa-bg.png);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: 50%;
  z-index : 999999999; 
}
wrapper {
  display: block;
  width: 100%;
  height: 100%;
  perspective: 10000px;
  position: absolute;
}

loader {
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 50%;
  margin-left: -25px;
  margin-top: -25px;
  animation-name: load;
  animation-duration: 4s;
  animation-delay: 0.5s;
  animation-iteration-count: infinite;
  transform-style: preserve-3d;
  animation-timing-function: ease-in-out;
}

overlay {
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  background-color: #090909;
}

loader side {
  display: block;
  width: 100%;
  height: 100%;
  border: 2px solid #333;
  box-sizing: border-box;
  background-color: transparent;
  margin-top: -100%;
}

loader side:nth-child(1) {
  margin-top: 0%;
  transform: translateZ(25px);
}

loader side:nth-child(2) {
  transform: rotateY(90deg);
  margin-left: -50%;
}

loader side:nth-child(3) {
 transform: rotateY(90deg);
  margin-left: 50%;
}



loader side:nth-child(4) {
  transform: translateZ(-25px);
}



@keyframes load {
  0% {transform:rotateY(0deg) rotateX(0deg);}
  80% {transform:rotateY(360deg) rotateX(360deg);}
  100% {transform:rotateY(360deg) rotateX(360deg);}
}