.progressive {
    position: relative;
    display: block;
    overflow: hidden;
    outline: none
}

.progressive img {
    display: block;
    width: 100%;
    max-width: none;
    height: auto;
    border: 0;
    cursor: grab;
}
.progressive img:active { cursor: grabbing; } 
.progressive:active { transform: unset; }
/*
.progressive img.preview { filter: blur(20px); }
*/
.progressive img.reveal {
    position: absolute;
    left: 0;
    top: 0;
    will-change: transform, opacity;
    animation: progressiveReveal 1s ease-out;
}

@keyframes progressiveReveal {
    0% { opacity: 0 }
    to { opacity: 1 }
}