.sphere-box { 
  position: absolute;
  transform:rotateZ(-45deg); 
  top: 40%;
  left: -20%;
}
.sphere {
  position: relative;
  margin: -10em;
  width: 25em;
  transform-style: preserve-3d;
  animation: spin 3.5s infinite linear;
}
.sphere > div {
  position: absolute;
  border:solid 1px;
  border-color: #222;
  border-radius:50%;
  width: 25em;
  height: 25em;
}

div.line-1  { transform:rotateY(20deg);  }
div.line-2  { transform:rotateY(40deg);  }
div.line-3  { transform:rotateY(60deg);  }
div.line-4  { transform:rotateY(80deg);  }
div.line-5  { transform:rotateY(100deg); }
div.line-6  { transform:rotateY(120deg); }
div.line-7  { transform:rotateY(140deg); }
div.line-8  { transform:rotateY(160deg); }
div.line-9  { transform:rotateY(180deg); }
div.line-10 { transform:rotateX(200deg); }
div.line-11 { transform:rotateX(220deg); }
div.line-11 { transform:rotateX(240deg); }
div.line-12 { transform:rotateX(260deg); }
div.line-14 { transform:rotateX(280deg); }
div.line-15 { transform:rotateX(300deg); }
div.line-16 { transform:rotateX(320deg); }
div.line-17 { transform:rotateX(340deg); }
div.line-18 { transform:rotateX(360deg); }

@keyframes spin {
      0% { -webkit-transform: rotateY(360deg) rotateX(180deg) rotateZ(180deg); }
    100% { -webkit-transform: rotateY(180deg) rotateX(180deg) rotateZ(180deg); }
}
@media (max-width: 736px) { 
  .sphere-box { 
    top: 45%;
    left: -15%; 
  }
}
@media (max-width: 640px) { .sphere-box { left: -45%; } }
@media (max-width: 736px) and (orientation:landscape) {
  .sphere-box {
    top: 85%;
    left: 0%; 
  }
}