/*

   Rodrigo Villa 2020

   Author: www.rodrigo-villa.com
   Text Domain: rodrigo
   Domain Path: /languages
   Description: UX / UI Design & Engineering
   Version: 1.0.0

   Thanks :)

----------------------------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css?family=Teko:200,300,400,500,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800');

body, html{
   width: 100%;
   height:100%;
   padding: 0;
   margin: 0;
   font-size: 22px;
   border: none;
   text-decoration: none;
   text-align: center;
   outline: none;
   cursor: default;
   letter-spacing: 1px;
   font-family: 'Poppins', sans-serif;
}

.logo-client { 
   padding-top: 50pt;
   padding-bottom: 0pt;
   width: 100px; 
}
.logo-client[data-type='footer'] { 
   padding-top: 25pt;
   padding-bottom: 25pt;
   max-width: 50px; 
   opacity: 0.5;
}

#big { width: 80vw; }
#big[data-type='code'] { margin-top: 10%; }
#big[data-type='sl'] { width: 70vw;  }
#full-width { width: 100vw; }
.ux-desc {
   padding-top: 25%;
}
.desc-client[data-type='ux'] {
   font-size: 1.20em;
   font-weight: 400;
   line-height: 1.30em;
   color: #FFF;
 }
 .prototype {

   font-size: 14px;
   float: unset !important;
 }
.footer-client { padding-bottom: 7.5%; }
.footer-client h2 { 
   text-align: center; 
   padding-top: 4%;
   padding-bottom: 4%;
}
.footer-client h5 { text-align: center; }
.footer-client a { font-size: 10pt; }
.portfolio-background {
   height: 100vh;
   margin-top: 15%;
   margin-bottom: 15%;
   padding-top: 20%;
   background-image: url('../img/client/jerry-03.png');
   background-repeat: no-repeat;
   background-size: cover;
}
.porfolio-space {
   margin-top: 5%;
   margin-left: 10%;
   margin-right: 10%;
}
.portfolio-background h2 { text-align: center; }
.portfolio-blocks {
   margin-bottom: 5%;
   height: 90pt;
   background-color: #111111;
   border-radius: 10px;
   background-position: center;
   background-size: cover;
   transition: .15s ease-in-out;
}
.portfolio-blocks:hover { 
   cursor: pointer;
   transform: scale(1.1);
}
.portfolio-blocks:active { transform: scale(1.0); }
.portfolio-blocks[data-type='project-01'] { 
   background-image: url('../img/client/project-01.png'); 
}
.portfolio-blocks[data-type='project-02'] { 
   background-image: url('../img/client/project-02.png'); 
   background-position: center right;
}
.portfolio-blocks[data-type='project-03'] { 
   background-image: url('../img/client/project-03.png'); 
}
.brand-symbol {
   font-size: 0.77em;
}
/* Alignments --------------------------------------------------------------- */
.align-bottom {
   position: absolute;
   right: 0;
   bottom: 2.5%;
   left: 0;
}
.align-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media only screen and (max-width:960px) {
   #medium { display: none; }
   .portfolio-blocks { height: 150pt; }
}
@media only screen and (max-width:768px) {
   .logo-client { 
      padding-top: 30pt;
      padding-bottom: 10pt;
      width: 50pt; 
   }
   .logo-client[data-type='footer'] { 
      padding-top: 25pt;
      padding-bottom: 25pt;
      max-width: 50px; 
   }
   .desc-client {
      padding-left: 0%;
      padding-right: 0%;
   }
   #medium { width: 100vw; }
   #big { width: 100vw; }
   #big[data-type='sl'] { width: 100vw;  }
   .porfolio-space {
      margin-top: 10%;
      margin-left: 0%;
      margin-right: 0%;
   }
   .portfolio-blocks { 
      margin-top: 5%;
      height: 60pt;
   }
}
@media only screen and (max-width:768px) and (orientation:landscape) {
   .logo-client { 
      padding-top: 50pt;
      padding-bottom: 10pt;
      width: 100px; 
   }
   .desc-client {
      padding-left: 15%;
      padding-right: 15%;
   }
   .portfolio-blocks { height: 120pt; }
   .footer-client { padding-bottom: 5%; }
   #big { width: 85vw; }
}
#small {
   width: 100vw;
}
