/*

   Rodrigo Villa
   Developed by www.rodrigo-villa.com
   Description: Personal portfolio
   Version: 6.0

   Thanks :]

----------------------------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css?family=Teko:200,300,400,500,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800');


body, html{
   max-width: 100% !important;
   width: 100%;
   height: 100%;
   min-height:100%; 
   padding: 0;
   margin: 0;
   font-size: 22px;
   border: none;
   text-decoration: none;
   text-align: center;
   outline: none;
   letter-spacing: 1px;
   font-family: 'Poppins', sans-serif;
   background: #333;
}

::selection { 
    color: #FFF;
    background: #666; 
}
*:focus { outline: none; }
:focus { outline: 0; }
input:focus::-webkit-input-placeholder { color: rgb(250,250,250, 0.15); }
input:focus:-moz-placeholder { color: rgb(250,250,250, 0.15); } /* FF 4-18 */
input:focus::-moz-placeholder { color: rgb(250,250,250, 0.15); } /* FF 19+ */
input:focus:-ms-input-placeholder { color: rgb(250,250,250, 0.15); } /* IE 10+ */
textarea:focus::-webkit-input-placeholder { color: rgb(250,250,250, 0.15); }
textarea:focus:-moz-placeholder { color: rgb(250,250,250, 0.15); } /* FF 4-18 */
textarea:focus:-moz-placeholder { color: rgb(250,250,250, 0.15); } /* FF 19+ */
textarea:focus:-ms-input-placeholder { color: rgb(250,250,250, 0.15); } /* IE 10+ */
a[href^="tel"] {
    color: inherit; /* Inherit text color of parent element. */
    text-decoration: none; /* Remove underline. */
}
input,
textarea,
button,
select,
a { -webkit-tap-highlight-color: transparent; }
img {
   text-decoration: none;
   outline: none;
   border: none;
   text-align: center
}
a { 
    color:#0070FF;
    transition: all .2s ease-in-out;
   -webkit-transition: all .2s ease-in-out;
}
a:focus,
button:focus,
input:focus,
textarea:focus {
   outline: none;
   text-decoration: none;
}
a:hover { color: #FFF; }
a:active { transform: translateY(6px); }
p {
   color: #909090;
   font-size: 0.66em;
   cursor: default;
   font-weight: 300;
   line-height: 1.44em;
   font-family: 'Poppins', sans-serif;
}
strong { font-weight: 500 !important; }

/*
h1 {
   color: #FFF;
   text-align: left;
   font-size: 2.11rem;
   line-height: 0.44em;;
   cursor: default;
   font-family: 'Teko', sans-serif;
   font-weight: 400;
}

h2 {
   color: #FFF;
   text-align: left;
   margin-bottom: 10px;
   margin-left: 0px;
   font-size: 2.44rem;
   line-height: 0.44em;
   cursor: default;
   font-family: 'Teko', sans-serif;
   font-weight: 400;
}

h3 {
   color: #FFF;
   text-align: center;
   margin: 0;
   font-size: 1.77rem;
   line-height: 0.66em;
   font-family: 'Teko', sans-serif;
   font-weight: 400;
}
h4 {
   color: #FFF;
   text-align: left;
   margin-top: 10px;
   margin-bottom: 8px;
   font-size: 1.11rem;
   line-height: 0.99em;
   cursor: default;
   font-family: 'Teko', sans-serif;
   font-weight: 400;
}
h5 {
   color: #FFF;
   text-align: left;
   margin-top: 10px;
   margin-bottom: 8px;
   font-size: 0.77rem;
   line-height: 0.44em;
   cursor: default;
   font-family: 'Teko', sans-serif;
   font-weight: 400;
}
h6 {
   color: #FFF;
   text-align: left;
   margin-top: 10px;
   margin-bottom: 8px;
   font-size: 0.44rem;
   line-height: 0.44em;
   cursor: default;
   font-family: 'Teko', sans-serif;
   font-weight: 400;
}
*/

h1 {
    color: #FFF;
    text-align: left;
    font-size: 7.00rem;
    line-height: 0.88em;;
    cursor: default;
    font-family: 'Teko', sans-serif;
    font-weight: 400;
 }
 
 h2 {
    color: #FFF;
    text-align: left;
    margin-bottom: 10px;
    margin-left: 0px;
    font-size: 6.00rem;
    line-height: 0.77em;
    cursor: default;
    font-family: 'Teko', sans-serif;
    font-weight: 400;
 }
 
 h3 {
    color: #FFF;
    text-align: center;
    margin: 0;
    font-size: 4.00rem;
    line-height: 0.66em;
    font-family: 'Teko', sans-serif;
    font-weight: 200;
 }
 h4 {
    color: #FFF;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 8px;
    font-size: 2.22rem;
    line-height: 0.99em;
    cursor: default;
    font-family: 'Teko', sans-serif;
    font-weight: 200;
 }
 h5 {
    color: #FFF;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 8px;
    font-size: 1.22rem;
    line-height: 0.44em;
    cursor: default;
    font-family: 'Teko', sans-serif;
    font-weight: 300;
 }
 h6 {
    color: #FFF;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 8px;
    font-size: 0.88rem;
    line-height: 0.44em;
    cursor: default;
    font-family: 'Teko', sans-serif;
    font-weight: 400;
 }

/* VILLA  -------------------------------------------------------------------- */
.logo {
    position: fixed;
    display: block;
    width: 90pt;
    padding: 0;
    top: 7pt;
    left: 20px;
    cursor: pointer;
    z-index: 999999;
  }

.navbar {
  position: fixed;
  padding-right: 35px;
  width: 100%;
  height: 60pt;
  /* border: 1px solid transparent;
     border-image: linear-gradient(to left, #1915d9, #000);
     border-image-slice: 1;
     border-width: 0 0 1px;
  */
  z-index: 100000;
}
.navbar[data-type="no-bg"]{
  position: fixed;
  padding-top: 4px;
  padding-left: 0;
}
.super-p {
    color: #FFF;
    font-size: 1.11em;
    text-align: center;
}
.keys {
    max-width: 100px;
    position: relative;
    top: 65px;
    margin-left: 20%;
}
.lity-image img { max-width: 85% !important; }
ul#menu li {
	margin: -4px 12px;
	font-size: 12px;
	letter-spacing: 3px;
	text-transform: uppercase;
    display: inline;
    transition: all .2s ease-in-out;
   -webkit-transition: all .2s ease-in-out;
}
ul#menu li > a {
	position: relative;
   color: #FFF;
   text-decoration: none;
}
ul#menu li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -2px;
  left: 0;
  background-color: #0070FF;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  transition: all .2s ease-in-out;
 -webkit-transition: all .2s ease-in-out;
}
ul#menu li > a:hover:before {
	visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}
/* Overlay menu */

.button_container {
    position: fixed;
    top: 24px;
    right: 20px;
    height: 32px;
    width: 32px;
    cursor: pointer;
    z-index: 9999999;
    transition: opacity 0.25s ease;
  }
  .button_container:hover {
    opacity: 0.7;
  }
  .button_container.active .top {
    transform: translateY(0px) translateX(0) rotate(45deg);
    background: #FFF;
  }
  .button_container.active .middle {
    opacity: 0;
    background: #FFF;
  }
  .button_container.active .bottom {
    transform: translateY(-11px) translateX(0) rotate(-45deg);
    background: #FFF;
  }
  .button_container span {
    background: #FFF;
    border: none;
    height: 2px;
    width: 100%;
    border-radius: 2px;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.35s ease;
    cursor: pointer;
  }
  .button_container span:nth-of-type(2) {
    top: 10px;
  }
  .button_container span:nth-of-type(3) {
    top: 20px;
  }
  
  .overlay {
    position: fixed;
    background-color: rgba(51,51,51,0.85);
   -webkit-backdrop-filter: saturate(100%) blur(5px);
      backdrop-filter: saturate(100%) blur(5px);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.35s, visibility 0.35s, height 0.35s;
    overflow: hidden;
    z-index: 999999;
  }
  .overlay.open {
    opacity: 1;
    visibility: visible;
    height: 100%;
  }
  .overlay.open li {
    animation: fadeInRight 0.5s ease forwards;
    animation-delay: 0.35s;
  }
  .overlay.open li:nth-of-type(2) {
    animation-delay: 0.4s;
  }
  .overlay.open li:nth-of-type(3) {
    animation-delay: 0.45s;
  }
  .overlay.open li:nth-of-type(4) {
    animation-delay: 0.5s;
  }
  .overlay nav {
    /*
    position: relative;
    height: 50%;
    top: 50%;
    transform: translateY(-50%);
    */
    font-weight: 400;
    text-align: right;
  }
  .overlay ul {
    margin: 0;
    padding-right: 5%;
    padding-top: 5%;
    list-style: none;
    display: inline-block;
    position: relative;
    height: 100%;
  }
  .overlay ul li {
    height: 25%;
    height: calc(100% / 4);
    min-height: 50px;
    position: relative;
    opacity: 0;
  }
  .overlay li {
    display: flex;
    align-items: center;
  }
  .overlay li a {
    color: #FFF;
    text-decoration: none;
    overflow: hidden;
    font-size: 4.00rem;
    line-height: 1em;
    font-weight: 200;
    font-family: 'Teko', sans-serif;
  }
  .overlay img {
    opacity: 0.25;
    min-width: 64px;
    margin-left: 0;
    margin-right: 0;
  }
  .overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
    width: 100%;
  }
  .overlay ul li a:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    transform: translateX(-50%);
    height: 3px;
    background: rgb(141, 141, 141);
    transition: 0.35s;
  }
  
  @keyframes fadeInRight {
    0% {
      opacity: 0;
      left: 20%;
    }
    100% {
      opacity: 1;
      left: 0;
    }
  }

/* Common styles for all menus */
.menu {
    position: relative;
    line-height: 35px;
    margin: 0 0;
    padding-top: 0;
    padding-left: 0;
    padding-right: 5px;
    height: 45px;
    width: auto;
}
.nav-bg {
   position: fixed;
   height: 60px;
   width: 100%;
   display: none;
   border-bottom: 1px solid rgba(255, 255, 255, 0.15);
   /* 
   background: linear-gradient(to bottom, rgb(51, 51, 51, 1) 25%, rgba(51, 51, 51, 0)); 
   */
   background-color: rgba(51,51,51,0.85);
   -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    z-index: 99999;
}

.menu__list {
	position: relative;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
    margin-left: 215px;
	list-style: none;
}
.menu__item[data-type="es"] { 
    position: fixed; 
    right: 110px;
    flex: none;
}
.menu__item {
	display: none;
	margin: 2px 0;
}

.menu__link {
	display: block;
	padding: 1em;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.menu__link:hover,
.menu__link:focus {
	outline: none;
}

/* Individual styles */
/* Shylock (by @benhanks040888) */
.menu--shylock .menu__link {
	position: relative;
	margin: -5px 1.10em;
	padding-right: 0;
	padding-left: 0;
	font-size: 14px;
    font-family: 'Teko', sans-serif;
	font-weight: 500;
	letter-spacing: 3px;
	color: #FFF;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

.menu--shylock-2 .menu__link {
	color: #000;
	font-weight: 500;
}

.menu--shylock .menu__item--current .menu__link::after,
.menu--shylock .menu__item--current .menu__link::before {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
}

.menu--shylock .menu__item--current .menu__link::before {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

.menu--shylock .menu__link:hover::before,
.menu--shylock .menu__link:focus::before {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

.menu--shylock .menu__link::before,
.menu--shylock .menu__link::after {
	content: '';
	position: absolute;
	top: 60px;
	left: 0;
	width: 97%;
	height: 2px;
	-webkit-transform: scale3d(0, 1, 1);
	transform: scale3d(0, 1, 1);
	-webkit-transform-origin: center left;
	transform-origin: center left;
	-webkit-transition: transform 0.2s cubic-bezier(0.22, 0.61, 0.36, 1);
	transition: transform 0.2s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.menu--shylock .menu__link::before {
	background: #fa5500;
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

.menu--shylock .menu__link::after {
	background: #0070FF;
}

/* Stack items for smaller screens */
@media all and (max-width: 1330px) { .nav-bg { width: 100%; } }

.logo-dot {
  position: fixed;
  left: 30px;
  top: 30px;
  height: 35px;
  width: 35px;
  background-color: #0071e3;
  border-radius: 50%;
  box-shadow: inset 1px 1px 0px #6661f2, 1px 1px 0px rgba(0, 0, 0, .5);
  display: none;
  z-index: 99999;
}
.logo-dot[data-type="faq"] {
  display: block;
}
.logo-dot img {
    max-width: 20px;
    padding-top: 8px;
    padding-right: 2px; 
}
.logo-who {
    max-width: 125px;
    width: 75%;
    display: block; 
    margin-left: auto;
    margin-right: auto;
}

.header-bg {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(img/XYZ.png?v=1.1.1);
    background-repeat: no-repeat;
    background-size: 70%;
    opacity: 1;
    background-position: 100% bottom;
} 
.header-bg[data-type="letter"] {
    background: url(img/villa-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: 1;
    background-position: 100% 50%;
    box-shadow: inset 0px -50px 200px #000;
}
.header-bg[data-type="3"] {
        background: url(img/dots.png); 
        background-repeat: repeat;
        background-size: 3.5% !important;
        -webkit-background-size:17.5%;
        -moz-background-size: 17.5;
        -o-background-size:17.5%;
        background-position: 50% 50%;
}
.header-gradient {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, #000 100%);
    z-index: 1;
}
.header-text {
    padding-left: 5%;
    padding-right: 5%;
    font-size: 0.99em; 
    line-height: 1.99em;
}
h1[data-type="header"] {
   text-align: center;
   font-size: 8vw;
   line-height: 20%;
   cursor: default;
   font-family: 'Poppins', sans-serif;
   font-weight: 500;
}
.block {
    color: #FFF;
    margin-left:auto;
    margin-right:auto;
    width: 100%;
    height: auto;
    background: none;
    text-align: left;
 }
.block p[data-type="white"] { color: #FFF; }
.block h2 { 
    text-align: left; 
    margin-top: 0;
}
.block h3 { padding-top: 5%; }
.grid[data-type="header"] { 
    z-index: 100;
    height: 0; 
 }
#hero {
    display: flex;
    height: 100vh; 
    padding-bottom: 10%;
    text-align: left;
    justify-content: flex-start;
    align-items: flex-end;
    align-content: flex-end;
}
#hero h1, #hero h4 { 
    margin-top: 0; 
    margin-bottom: 0;
}
#hero h2, #hero h4 { text-align: left; }
#hero a { 
     margin-left: 0;
}
#hero ul { 
    padding: 0;
    list-style: none; 
    font-size: 16px;
}
#hero ul img { 
    margin: 0;
    opacity: 0.5;
    max-width: 32px;
}
#hero li {
    display: flex;
    align-items: center;
    padding-top: 2.5%;
}

.gradient { background:  linear-gradient(0deg, #000000 30%, #121316 70%) }
.portfolio-wrapper { padding-top: 10%; }
.block[data-type="portfolio-slides"] { 
    position: relative;
    height: 100%;
    padding-bottom: 15%;
    z-index: 999;
}
#services {
    background-image: url(img/logo-bg.svg);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 50%;
}
#services ul { 
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none; 
    text-align: left;
    border-radius: 15pt;
}
#services ul img { 
    margin: 0;
    opacity: 0.5;
    min-width: 64px;
}
#services ul img[data-type='payments'] {
    opacity: 1;
    max-width: 140px;
    margin-top: 20px;
}
#services li {
    display: flex;
    align-items: flex-start;
}
#services h4 { text-align: left; }
.services-img {
    max-width: 100%;
}
.services-wrapper {
    padding-top: 0;
    padding-bottom: 0;
}
.header-wrapper { padding-top: 25%; }
.slash {
    position: absolute;
    margin-left: 0 !important;
    margin-top: -4px !important;
    padding-left: 2px !important;
    font-weight: 500;
    font-size: 0.5em !important;
    color:#fa5500 !important;
}
.block[data-type="header"] p {
    display: inline;
    vertical-align: top;
    padding-left: 11px;
    padding-right: 0;
    color: #FFF;
    line-height: 0.80rem;
    font-size: 2.44em;
    font-family: 'Teko', sans-serif;
}
.block[data-type="header"] span {
    position: absolute;
    color: #444;
    font-size: 0.70em;
    font-weight: 200;
    margin-top: -5px;
    margin-left: -2px;
    font-family: 'Teko', sans-serif;
}
.block[data-type="header"] h2 { 
    margin-top: 0; 
    line-height: 0.99em; 
    padding-left: 0;
}
.block[data-type="header"] {
    text-align: center;
    z-index: 100;
    height: 100%; 
}
.block p[data-type="header-text"] { 
    padding-right: 10%; 
    padding-bottom: 3.5%;
}
.block[data-type="services"] {
    color: #FFF;
}
h4[data-type="services"] { text-align: left; }
.block p [data-type="services"] { color: #909090; }
.block h5[data-type="services"] {
    padding-top: 3.25%;
    padding-left: 15%; 
    color: #FFF;
}
.block p[data-type="services"] { 
    text-align: left;
    color: #909090; 
    font-size: 0.70em;
}
.block img[data-type="services"] { 
    width: 100%;
    max-width: 100px;
    margin-left: 12.5%;
    margin-top: -3%;
    margin-right: 1.5%;
    margin-bottom: 15%;
    float: left;
}
.services-margin { margin-bottom: 3px; }
.services-space { 
    border-left: 1px solid rgba(255, 255, 255, 0.15);
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
}
.services-space:hover[data-type="blue"]   { border-left: 4px #0071e3 solid; }
.services-space:hover[data-type="yellow"] { border-left: 4px #e0ae00 solid; }
.services-space:hover[data-type="orange"] { border-left: 4px #fa5500 solid; }
.block[data-type="services-blue"] {
    height: inherit;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 100% 50%;
}

.faq-icon {
    margin-top: 1px;
    margin-right: 10px;
    width: 15px;
    float: left;
}
.how-bg {
    position: relative;
    margin-top: 0%;
    padding-bottom: 5%;
}
.how-bg[data-type="who"] {
    background: url(img/circles-bg-2.png); 
    background-repeat: no-repeat;
    background-position: 50% 25%;
    background-size: 65%;
}
.how-container { 
    padding-top: 15%;
    height: 100%;
} 
.block h2[data-type="how"]  { 
    text-align: left;
    padding-top: 15%;
    padding-left: 0;
}
.block p[data-type="how"]  { 
    color: #FFF;
    text-align: left;
    padding-left: 0;
    padding-right: 10%;
}
.block p[data-type="p-small-how"] { 
    font-size: 0.70em; 
    padding-bottom: 3.5%;
    padding-left: 0;
    padding-right: 15%;
}
.how {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.block[data-type="how-faq"] img { 
    max-width: 120%;
    height: auto;
    display: block;
    margin-left: -25%;
    margin-right: 0;
}
.block[data-type="how-faq"] h5 {
    padding-left: 10%;
    padding-top: 5%;
    padding-bottom: 2.5%;
    color: #2521dd;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
}
.block[data-type="who"] {
    position: relative;
    height: auto;
    z-index: 9999;
}
.block h2[data-type="who"]  { 
    padding-top: 12.5%;
    position: absolute; 
    z-index: 100;
}
.block p[data-type="who"]  { 
    padding-top: 25%;
    color: #FFF;
    position: absolute; 
    z-index: 100;
}
.how-columns[data-type='margin-top'] { margin-top: 50pt; }
.how-columns {
    margin-top: 0;
    margin-bottom: 0%;
    margin-left: 10%;
    margin-right: 10%;
    float: left;
}
.how-columns p { font-size: 0.70em; }
.how-columns img {
    display:block;
    max-width: 100px;
    width: 100%;
    margin-bottom: 0;
    opacity: 0.5;
}
/* Pricing */
#pricing {
    margin-top: 10%;
}
#pricing h3 {
   text-align: center;
   margin-top: 40px;
   margin-bottom: -5px;
}
#pricing h5 { text-align: center; }
.pricing-box {
    position: relative;
    padding: 15pt;
    padding-bottom: 5%;
    /* border: 2px solid gray; */
    border-radius: 15pt;
    margin-bottom: 15%;
    background-color: #222;
    transition: all .2s ease-in-out;
   -webkit-transition: all .2s ease-in-out;
    /* z-index: 99999; */
}
.pricing-box:hover {
    transform: scale(1.15);
}
.pricing-box ul {
    text-align: left;
    padding: 0; 
    padding-left: 5%;
}
.pricing-box li { 
    color: #FFF;
    width: auto;
    list-style: none;
    font-size: 0.70rem;
    font-weight: 400;
    padding-bottom: 7.5%;
    transition: all .2s ease-in-out;
   -webkit-transition: all .2s ease-in-out;
}
.pricing-box li > p { 
    width: auto;
    color: #FFF;
}
.pricing-box li:hover { 
    transform: translateX(12px);
}
.pricing-box li::before {
  content: "\2022  ";
  color: #535353;
  margin-right: 4px;
  transition: all .2s ease-in-out;
 -webkit-transition: all .2s ease-in-out;
}
.pricing-box li:hover::before {
  content: "\2022  ";
  color: #ff5000; /* or whatever color you prefer */
  opacity: 1;
  margin-right: 4px;
}
.pricing-box span[data-type="disclaimer"] {
    font-size: 0.55rem;
}
.info-deal {
    padding-top: 15%;
    padding-bottom: 15%;
    text-align: center;
}
.info-deal h2 { margin-top: 0; }
.info-deal h2, .info-deal h4 { text-align: center; }
.app-banner {
    padding: 15pt;
    /* border: 2px solid gray; */
    border-radius: 15pt;
    background-image: url('img/app-dev-bg.png');
    background-color: #222;
    background-repeat: no-repeat;
    background-size: 65%;
    background-position: top right;
}
.app-banner h3 { 
    margin-top: 15pt;
    margin-bottom: 15pt; 
}
.square-banner {
    position: relative;
    width: 100%;
    border-radius: 15pt;
    background-image: url('img/kinetix-banner.png');
    background-color: #FFF;
    background-repeat: no-repeat;
    background-size: 65%;
    background-position: top right;
  }
  
  .square-banner:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
  
  .square-content {
    position: relative;
    width: 100%;
    height: 100%;
  }

.process { 
    position: relative;
    padding-top: 0%;
    padding-bottom: 7.5%;
    min-height: 300px;
    border-bottom: 1px solid #666;
    overflow: hidden;
    transform: translateY(0px);
   -webkit-transform: translateY(0px);
    transition: all .2s ease-in-out;
   -webkit-transition: all .2s ease-in-out;
}
.process:hover[data-type="blue"] {
    border-bottom: 1px solid #0071e3;
    transform: translateY(-10px);
   -webkit-transform: translateY(-10px);
}
.process:hover[data-type="yellow"] {
    border-bottom: 1px solid #e0ae00;
    transform: translateY(-10px);
   -webkit-transform: translateY(-10px);
}
.process[data-type="orange"] { border-bottom: 1px dashed #666; }
.process:hover[data-type="orange"] {
    border-bottom: 1px solid #fa5500;
    transform: translateY(-10px);
   -webkit-transform: translateY(-10px);
}
.process-action {
    position: absolute;
    top: 150px;
    right: 10%;
    opacity: 0;
    font-family: 'Teko', sans-serif;
    transition: all .4s ease-in-out;
   -webkit-transition: all .4s ease-in-out;
}
.process-action a {
    font-size: 12pt;
    color: #FFF;
    text-transform: uppercase;
    white-space: nowrap;
}
.process-action a::before  { 
    color: #FFF;
    content: "\2022  ";
    color: #00ff00;
    opacity: 0;
    margin-right: 4px;
    transition: all .2s ease-in-out;
   -webkit-transition: all .2s ease-in-out;
}
.process-action a:hover::before  { 
    content: "\2022  ";
    color: #00ff00; 
    opacity: 1;
    margin-right: 4px;
}
.process:hover .process-action {
    opacity: 1; 
    top: 85%;
    transform: translateY(-50%);
   -webkit-transform: translateY(-50%);
   -moz-transform: translateY(-50%);
}
.process-info a { 
    margin-top: 1.5%;
    margin-left: 10%; 
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    padding-right: 2.5%;
    padding-left: 20px;
    color: #444; 
    font-size: 0.70em;
    float: left;
}
.process-info:hover a { 
    color: #FFF; 
    transform: translateX(10px);
   -webkit-transform: translateX(10px);
}
.process-info:hover span { color: #00ff00; }

/* F.A.Q accordion ---------------------------------------------------------- */
.sidebar {
    height: 100vh;
 }
 .list li {
    color: red;
    font-size: 0.8vw;
    list-style: square;
    line-height: 125%;
    transition: all 0.2s ease-in-out;
 }
 .list p {
    color: #FFF;
    font-size: 1vw;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
 }
 .list li:hover { color: #0472ff; }
 .list p:hover { transform: translateX(30px); }
 .list span {
    color: #CCC;
    font-size: 1vw;
 }
 .list span[data-type="green"] { color: #0472ff }
 .gray { color: #CCC: }
 .green { color: #0472ff; }
 #faq { padding-top: 15%; }
 #faq h3 { text-align: left; }

 .accordion {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    list-style: none;
     -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
     border-radius: 4px;
 }
 .accordion .link {
     color: #FFF;
     font-size: .80em;
     font-family: 'Poppins', sans-serif;
     letter-spacing: 0.05em;
     cursor: pointer;
     padding: 25px 10px 25px 10px;
     border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    text-align: left;
    font-weight: 200;
     display: block;
     position: relative;
   -webkit-transition: all 0.2s ease;
   -o-transition: all 0.2s ease;
     transition: all 0.2s ease;
 }
 .link:hover {
    color: grey;
 }
 .main-buttons a { color: #FFF; }
 .main-buttons a:hover { color: #FFEA00; }
 .main-buttons a:focus {
    outline: none;
    text-decoration: none;
 }
 .move-x {
    font-weight: 400;
    padding-right: 5%;
    transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
 }
 .move-x:hover { transform: translateX(0px); }
 .accordion li:last-child .link {
     border-bottom: 0;
 }
 /** ========================
 * Icons font-awesome
 ============================= **/
 
 .accordion li i {
    position: absolute;
    top: 20px;
     color: #969696;
   -webkit-transition: all 0.4s ease;
   -moz-transition: all 0.4s ease;
   -o-transition: all 0.4s ease;
     transition: all 0.4s ease;
 }
 
 .accordion li i.fa-chevron-down {
     top: 28px;
     right: 20px;
     left: auto;
     opacity: .5;
     max-width: 22px;
 }
 /**===================================
 * Conf. class to link when subme is active in js
 ====================================**/
 .accordion li.open .link {
     color: #FFF;
 }
 .accordion li.open i {
     color: #FF0000;
 }
 .accordion li.open i.fa-chevron-down {
   -webkit-transform: rotate(180deg);
   -moz-transform: rotate(180deg);
   -ms-transform: rotate(180deg);
   -o-transform: rotate(180deg);
     transform: rotate(180deg);
 }
 
 /**=======================
 * Submenu
 ==========================**/
 .submenu {
     display: none;
    list-style: none;
 }
 .submenu li {
    cursor: pointer;
     border-bottom: 1px solid #FFF;
 }
 .submenu p {
    text-align: left;
    padding-top: 5%;
    padding-bottom: 5%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
 }
 .submenu a {
     display: block;
     color: #d9d9d9;
     padding: 0;
    text-align: left;
    font-weight: 600;
    border: none;
   -webkit-transition: all 0.25 ease-in-out;
   -moz-transition: all 0.25 ease-in-out;
   -o-transition: all 0.25 ease-in-out;
     transition: all 0.25 ease-in-out;
 }
 .submenu a:focus, a:active {
    outline: none;
 }
 .submenu a:hover {
     color: #0070FF;
 }
 

#letter {
    padding-top: 12.5%;
    padding-left: 12%;
    padding-right: 12%;
    max-width: 1200px;
    z-index: 99;
}
#letter p[data-type="subline"] { 
    padding-bottom: 4%;
    font-size: 0.90em;
 }
#letter p { 
    text-align: left; 
    font-size: 0.60em;
}
.signature {
    display:block;
    float: left;
}
.signature img {
    margin-top: 15%;
    margin-bottom: 5%;
    max-width: 200px;
} 
.signature p {
    font-size: 0.50em !important;
    line-height: 1.55em;
}
.signature span{ color: #666; }
.block[data-type="who-text"] {
    padding-top: 5%;
    padding-bottom: 2.5%;
    height: auto;
    background: none;
    border-right: 1px dashed #666;
}
.block p[data-type="typewrite"] { color: #FFF; }
.block[data-type="who-text"] > p { padding-right: 7.5%; }
.block[data-type="who-text"] > img { padding-left: 0; }
.block p[data-type="who-text-sml"] { 
    color: #909090;
}
a.round-button {
   display: inline-block;
   padding: 0.44rem 1.44rem;
   font-size: 25pt;
   letter-spacing: 1px;
   color: #FFF;
   border-radius: 50pt;
   border: none;
   background: #fa5500;
   font-family: 'Teko', sans-serif;
   font-weight: 400;
   text-transform: unset;
   transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
   z-index: 100;
}
a.round-button:focus {outline:0;}
a.round-button[data-type="gray"] {
   color: #FFF;
   background: none;
   border: 2px solid;
   /* box-shadow: inset 1px 1px 0px #666, 1px 1px 0px rgba(0, 0, 0, .5); */
   backdrop-filter: saturate(150%) blur(20px);
  -webkit-backdrop-filter: saturate(150%) blur(20px);
   margin-left: 20%;
}
a.round-button:hover[data-type="gray"] {
    color: #FFF;
    background: none;
    border: 2px solid;
    backdrop-filter: saturate(150%) blur(20px);
   -webkit-backdrop-filter: saturate(150%) blur(20px);
    margin-left: 20%;
 }
a.round-button[data-type="blue-header"] {
   color: #FFF;
   background: #0071e3;
   /* box-shadow: inset 1px 1px 0px #6661f2; */
}
a.round-button[data-type="yellow"] {
   color: #000;
   background: #ffc71a;
   /* box-shadow: inset 1px 1px 0px #ffecb2; */
}
a.round-button[data-type="orange"] { background: #fa5500; }
a.round-button:hover[data-type="orange"] { background: #0071e3; }
a.round-button[data-type="blue"] {
    margin-left: 0;
    color: #FFF;
    background: #0071e3;
    border: 2px solid #0071e3;
    /* box-shadow: inset 1px 1px 0px #6661f2,  1px 1px 0px rgba(0, 0, 0, .5); */
}
a.round-button[data-type="red"] {
    margin-left: 0;
    color: #FFF;
    background: #1a1a1a;
    border-radius: 4px;
    box-shadow: inset 1px 1px 0px #4d4d4d, 1px 1px 0px rgba(0, 0, 0, .5); 
}
a.round-button:hover[data-type="red"] {
    color: #000;
    background: #ffc71a;
    box-shadow: inset 1px 1px 0px #ffecb2;
}
a.round-button[data-type="play"] {
   margin-top: 0.55rem;
   padding: 4px 15px 3px 20px;
   font-size: 16px;
   color: #FFF;
   background: none;
   /* 
   background-image: url(img/icon-play.png);
   background-repeat: no-repeat;
   background-position: 104px 8px;
   background-size: 8px;
   -webkit-background-size: 10px !important;
   */
   border: 2px solid #fa5500;
   border-radius: 30px;
   float: left;
}
a.round-button:hover[data-type="play"] {
   padding: 4px 15px 3px 20px;
   background: #0071e3;
   border: 2px solid #0071e3;
   border-radius: 30px;
   box-shadow: none;
}
a.round-button[data-type="join"] {
   padding: 4px 20px 3px 20px;
   font-size: 16pt;
   color: #FFF;
   background: #0071e3;
   border: 2px solid #0071e3;
   text-align: center;
   border-radius: 30px;
}
.pdf { color: rgba(0, 0, 0, 0.5); }
a.round-button:hover[data-type="join"] {
    color: #FFF;
    background: #fa5500;
    box-shadow: none;
}
a.round-button[data-type="globe"] {
    padding: 5px 20px 4px 20px;
    font-size: 14px;
    color: #FFF;
    background: #0071e3;
    text-align: center;
    box-shadow: none;
    border-radius: 30px;
 }
 a.round-button:hover[data-type="globe"] {
    background: #fa5500;
    box-shadow: none;
 }
a.round-button:active { transform: translateY(6px); }
a.round-button[data-type="contact"] {
    min-width: 100px;
    padding-left: 11px;
    padding-right: 11px;
    padding-top: 5px;
    padding-bottom: 4px;
    position: fixed;
    font-size: 14px;
    right: 60pt;
    top: 9pt;
    color: #FFF;
    background:#0071e3;
    /*
    backdrop-filter: saturate(150%) blur(20px);
   -webkit-backdrop-filter: saturate(150%) blur(20px);
    border: 2px solid rgba(255, 255, 255, 0.25);
    /* box-shadow: inset 1px 1px 0px #666, 1px 1px 0px rgba(0, 0, 0, .5); */
    z-index: 999999;
}
a.round-button:hover {
   background: #fa5500;
   border: none;
   /* box-shadow: inset 1px 1px 0px #ff884d; */
   color: #FFF;
}
a.round-button {
   display: inline-block;
   -webkit-transform: translateY(4px);
   transform: translateY(4px);
}
a.round-button:hover[data-type="contact"] {
    background: #fa5500;
    /* box-shadow: inset 1px 1px 0px #ff884d; */
}
.btn-icon {
    display:inline;
    max-width: 12px;;
    margin-left: 14px;
}
.btn-icon[data-type="download"] {
    max-width: 14px;;
    margin-left: 8px;
}
#wrapper {
    width: 100%;
    height: 100vh;
}
.slide-bg { 
    width: 100%; 
    height: 100vh;
    background-repeat: no-repeat;
    background-position: 0% 0%;
}
.slide-bg[data-type="1"] {
    background-image: url(img/XYZ.jpg);
    background-size: 100%;
    background-position: 0% 0%;
}
.slide-bg[data-type="2"] {
    background-image: url(img/slide-2-bg.png?v=2.0.0);
    background-size: 100%;
    background-position: 0% 80%;
}
.slide-bg[data-type="3"] {
    background-image: url(img/slide-3-bg.png?v=2.1.0);
    background-size: 90%;
    background-position: 5% 35%;
}
.slide-bg[data-type="4"] { background-image: none; }
.slide-bg[data-type="5"] {
    background-image: url(img/slide-5-bg.png);
    background-size: 80%;
    background-position: 2.5% 20%;
}
.slide-bg[data-type="6"] {
    background-image: url(img/slide-6-bg.png);
    background-size: 90%;
}
.slide-bg[data-type="7"] { background-image: none; }
.slide-bg[data-type="8"] {
    background-image: url(img/slide-8-bg.png?v=2.1.0);
    background-size: 85%;
}
.slide-bg[data-type="9"] {
    background-image: url(img/slide-9-bg.png);
    background-size: 60%;
    background-position: 20% 100%;
}
.slide-view {
    position: relative;
    max-width: 100%;
    padding-left: 15%;
    padding-right: 15%;
}
.directional {
    padding-top: 14px;
    padding-left: 3px;
    width: 40px;
    height: 40px;
    border: 1px solid #666;
    border-radius: 50%;
    background: rgb(9 ,9 , 9, 0.8);
    display: inline-block;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
}
.directional:hover { border: 1px solid #555;}
.directional:active { 
    border: 1px solid #0071e3;
    transform: translateY(2px);
}
.directional:active[data-type="prev"] { border: 1px solid #fa5500; }
.directional[data-type="prev"] { padding-left: 0; padding-right: 3px; }
.directional img {
    max-width: 6px;
    opacity: 0.5;
}


/* Footer --------------------------------------------------------------- */
.footer {
    width: 100%;
    padding-top: 10%;
}
.contact-bg { 
    width: 100%;
    height: 100vh;
    padding-top: 25%;
    /*
    background-image: url(img/logo-bg.svg);
    background-repeat: no-repeat;
    background-position: center left;
    background-size: contain;
    */
}
.contact-us h3 { text-align: left; }
.contact-us { color: #FFF; }
.contact-us p[data-type="subline"] {
    padding-bottom: 0;
    padding-right: 10%;
    color: #909090;
    font-size: 0.70em;
    line-height: 1.66em;
}
.contact-us p { 
    color: #FFF;
    text-align: left; 
    font-size: 0.60em;
    line-height: 0.77em;
}
.contact-us p[data-type='mail-phone'] {
    font-family: 'Teko', sans-serif;
    font-size: 18pt;
}
.contact-info h2 { padding-left: 20%; }
.copyright p {
    position: absolute;
    font-size: 10px;
    text-align: right;
    right: 30px;
    bottom: 15px;
    color: #444;
}
.copyright a {
    font-size: 10px;
    color: #909090;
}
.copyright a:hover { color: #FFF; }
.footer-copy { 
    text-align: left; 
    padding-bottom: 20px;
}
.footer-copy p {
    font-size: 10px;
    line-height: 12pt;
    text-align: left;
    color: #888;
}
.footer-copy span { 
    font-size: 8pt;
    color: #666; 
}
.footer-copy ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-direction: row-reverse;
}
.footer-copy li {
    padding-left: 20px;
}
.footer-copy a {
    color: #666;
    font-size: 10px;
}
.footer-bottom-line {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
}
.social-networks ul {
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row-reverse;
}
.social-networks li {
     opacity: 0.5;
    -webkit-transition: all .35s;
     transition: all .35s;
}
.social-networks li:hover {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
}
.social-networks img {
    margin-left: 15px;
    max-width: 24px;
    min-width: 24px;
}

.contact-container {
    height: 100%;
}
.form-style {
  padding-bottom: 4px;
  width: 100%;
  text-align: center;
  font-size: 0.55em; 
  object-fit: cover;
  overflow: hidden;
  z-index: 10;
}
.form-style input {
  padding: 3.5%;
  margin-bottom: 20px;
  width: 100%;
  color: #000;
  letter-spacing: 0.12em;
  font-family: 'Poppins', sans-serif;
  border: 2px solid #333;
  border-left-color: rgba(51,51,51, 1);
  border-radius: 6px;
  background: #FFF;
  outline: none;
  cursor: default;
  transition: all .20s ease-in-out;
  background-repeat: no-repeat;
  background-position: 15px;
  background-size: 20px;
}
.form-style input[data-type="name"] { 
    width: 50%;
    float: left;
    border: 2px solid #333;
    border-left: 2px solid;
    border-right: none;
    border-left-color: rgba(51,51,51, 1);
    border-top-left-radius: 6px !important;
    border-bottom-left-radius: 6px !important;
    border-radius: 0;
}
.form-style input[data-type="lastname"] { 
    width: 50%;
    float: right;
    border: 2px solid #333;
    border-top-right-radius: 6px !important;
    border-bottom-right-radius: 6px !important;
    border-radius: 0;
    }
::placeholder { color: #000; }
.form-style input[data-type="margin"] { margin-right: 0%; }
.form-style input:hover { border: 2px solid #fa5500; }
.form-style input:focus { border: 2px solid #16b52d; }
.form-style input[type="button"],
.form-style input[type="submit"]  {
    font-size: 14px;
    font-family: 'Teko', sans-serif;
    margin-bottom: 0;
    text-transform: uppercase;
    background: none;
    border: none;
}
.form-style input[type="button"]:hover,
.form-style input[type="submit"]:hover  {
  color: #000;
  background: #ffc71a;
}
.form-style input:-webkit-autofill { box-shadow: 0 0 0px 1000px #666 inset; }
.form-style textarea {
  padding-left: 23px;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  padding-right: 2.5%;
  margin-bottom: 20px;
  width: 100%;
  height: 20vh;
  color: #000;
  letter-spacing: 0.15em;
  line-height: 24px;
  font-family: 'Poppins', sans-serif;
  border: 2px solid;
  border-color:rgba(51,51,51, 1);
  border-radius: 6px;
  background: #FFF;
  outline: none;
  cursor: default;
  resize: vertical;
  transition: all .2s ease-in-out;
 -webkit-transition: all .2s ease-in-out;
}

.form-style textarea:hover { border: 2px solid #fa5500; }
.form-style textarea:focus { border: 2px solid #16b52d; }
.form-style .success{
    text-align: left;
	padding: 5%;
	margin-left: 10%;
	border: none;
	font-weight: 100;
	color: #FFF;
	border-left: 2px solid #16b52d;
}
.success h3 { 
    line-height: 1.22em;
    text-align: left;
 }
.success span { 
    color: #909090;
    font-size: 1.22em; 
}

.icon {
    display: inline-block;
    color: hsl(240, 7%, 12%);
    color: var(--color-contrast-higher);
    fill: currentColor;
    height: 1em;
    width: 1em;
    line-height: 1
}

.icon--xs {
    font-size: 16px;
    font-size: var(--icon-xs)
}

.icon--sm {
    font-size: 24px;
    font-size: var(--icon-sm)
}

.icon--md {
    font-size: 32px;
    font-size: var(--icon-md)
}

.icon--lg {
    font-size: 48px;
    font-size: var(--icon-lg)
}

.icon--xl {
    font-size: 64px;
    font-size: var(--icon-xl)
}

.icon-text {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.icon-text>*:nth-child(2) {
    margin-left: 0.375em;
    margin-left: var(--space-xxs)
}

.icon-text .icon {
    color: inherit;
    -ms-flex-negative: 0;
    flex-shrink: 0
}

.icon-text.icon-text-gap--none>*:nth-child(2) {
    margin-left: 0
}

.icon--is-spinning {
    -webkit-animation: icon-spin 1s infinite linear;
    animation: icon-spin 1s infinite linear
}

@-webkit-keyframes icon-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes icon-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

.icon use {
    color: inherit;
    fill: currentColor
}

.btn {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: relative;
    white-space: nowrap;
    text-decoration: none;
    line-height: 1;
    padding: 0.5em 0.75em;
    padding: var(--space-xs) var(--space-sm);
    border-radius: 0;
    font-size: 1em;
    font-size: var(--btn-font-size);
    color: hsl(220, 90%, 56%);
    color: var(--color-primary);
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    transition: all .20s ease-in-out;
}
.btn--primary {
    padding: 15px 20px 13px 15px;
    text-align: left;
    width: 155px;
    height: auto;
    font-size: 16pt;
    letter-spacing: 1px;
    font-weight: 400;
    text-transform: unset;
    color: #FFF;
    background: #fa5500;
    /* box-shadow: inset 1px 1px 0px #6661f2; */
    font-family: 'Teko', sans-serif;
    float: left;
    border: none;
    border-radius: 50pt;
    background-repeat: no-repeat;
    background-position: 122px 11px;
    background-size: 18px;
}
.btn--primary:hover {
    background: #fa5500;
    /* box-shadow: inset 1px 1px 0px #ffecb2; */
    background-repeat: no-repeat;
    background-position: 122px 11px;
    background-size: 18px;
}
.btn--primary:active { transform: translateY(4px); }
.btn--subtle {
    background-color: hsl(0, 0%, 100%);
    background-color: var(--color-bg);
    color: hsl(240, 7%, 12%);
    color: var(--color-contrast-higher);
    border: 1px solid hsl(0, 0%, 83%);
    border: 1px solid var(--color-contrast-low)
}

.btn--subtle:hover {
    background-color: hsl(0, 0%, 95%);
    background-color: var(--color-contrast-lower)
}

.btn--accent {
    background-color: hsl(355, 90%, 61%);
    background-color: var(--color-accent);
    color: hsl(0, 0%, 100%);
    color: var(--white);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.btn--accent:hover {
    background-color: hsl(355, 90%, 68%);
    background-color: var(--color-accent-light)
}

.btn--disabled {
    cursor: not-allowed;
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: 0.6
}

.btn--sm {
    font-size: 0.8em;
    font-size: var(--btn-sm)
}

.btn--md {
    font-size: 1.2em;
    font-size: var(--btn-md)
}

.btn--lg {
    font-size: 1.4em;
    font-size: var(--btn-lg)
}

.btn--full-width {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%
}

.btn .icon {
    color: inherit;
    -ms-flex-negative: 0;
    flex-shrink: 0
}

.btn--icon-text {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.btn--icon-text>*:nth-child(2) {
    margin-left: 0.375em;
    margin-left: var(--space-xxs)
}

.btn--icon {
    padding: 0.5em;
    padding: var(--space-xs)
}

.btn .btn__content-a {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex
}

.btn .btn__content-b {
    display: none
}

.btn--state-b .btn__content-a {
    display: none
}

.btn--state-b .btn__content-b {
    display: block;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex
}

.btn--preserve-width .btn__content-b {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}
.btn--preserve-width.btn--state-b .btn__content-a {
    display: block;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    visibility: hidden
}

/* Alignments --------------------------------------------------------------- */
.align-bottom {
    position: absolute;
    right: 0;
    bottom: 2.5%;
    left: 0;
}
.align-bottom[data-type="header"] {
    bottom: 225px;
}
.align-center {
   position: relative;
   top: 50%;
   -webkit-transform: translateY(-50%);
   -ms-transform: translateY(-50%);
   transform: translateY(-50%);
}
.align-center[data-type="header"] { 
    position: unset;
    top: unset;
    -webkit-transform: unset;
    -ms-transform: unset;
    transform: unset;
}


/**
 * Swiper 3.3.1
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 *
 * http://www.idangero.us/swiper/
 *
 * Copyright 2016, Vladimir Kharlampidi
 * The iDangero.us
 * http://www.idangero.us/
 *
 * Licensed under MIT
 *
 * Released on: February 7, 2016
 */
.swiper-container {
  height: 100vh;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  /* Fix of Webkit flickering */
  z-index: 1;
}
.swiper-container:active { cursor: default; }
.swiper-container[data-type="2"] {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  /* Fix of Webkit flickering */
  z-index: 1;
}

.swiper-container-no-flexbox .swiper-slide {
  float: left;
}
.swiper-container-vertical > .swiper-wrapper {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.swiper-wrapper {
  position: relative;
  width: 100%;
  height:100%;
  z-index: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -ms-transition-property: -ms-transform;
  transition-property: transform;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.swiper-wrapper[data-type="2"] { height:100%; }
.swiper-container-android .swiper-slide,
.swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
  -moz-transform: translate3d(0px, 0, 0);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate3d(0px, 0, 0);
  transform: translate3d(0px, 0, 0);
}
.swiper-container-multirow > .swiper-wrapper {
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.swiper-container-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  margin: 0 auto;
}
.swiper-slide {
  -webkit-flex-shrink: 0;
  flex: 0 0 auto;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
}
/* Auto Height */
.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide {
  height: auto;
}
.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-transition-property: -webkit-transform, height;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -ms-transition-property: -ms-transform;
  transition-property: transform, height;
}
/* a11y */
.swiper-container .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000;
}
/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}
.swiper-wp8-vertical {
  -ms-touch-action: pan-x;
  touch-action: pan-x;
}
/* Arrows */
.direction {
   width: 0;
   height: 0;
   border-style: solid;
   border-width: 6px 8px 6px 0;
   border-color: transparent #bababa transparent transparent;
}
.direction[data-type="prev"] { border-width: 4px 0 4px 6px; }

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  width: auto;
  height: 44px;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  -moz-background-size: 27px 44px;
  -webkit-background-size: 27px 44px;
  background-size: 27px 44px;
  background-position: center;
  background-repeat: no-repeat;
}
.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}
.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  left: 7.5%;
  right: auto;
}
.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  right: 7.5%;
  left: auto;
}

/* Pagination Styles */
.pagination {     
    margin: auto;
    margin-top: -10px;
}
.swiper-pagination {
  position: absolute;
  text-align: center;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 10;
}
.swiper-pagination.swiper-pagination-hidden { opacity: 0; }
/* Common Styles */
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 5%;
  width: 100%;
}
/* Bullets */
.swiper-pagination-bullet {
  border-radius: 10px;
  width: 16px;
  height: 2px;
  padding: 0px;
  /* margin: 15px; */
  display: inline-block;
  background: rgba(255, 255, 255, 0.15);
  /* border-radius: 2px; */
  /* border-bottom: 2px solid #666; */
}
button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  box-shadow: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  
}
.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}
.swiper-pagination-white .swiper-pagination-bullet {
  background: #FFF;
}
.swiper-pagination-bullet-active {
  opacity: 1;
  background: #FFF;
 -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
}
.swiper-pagination-white .swiper-pagination-bullet-active { background: #FFF; }
.swiper-pagination-black .swiper-pagination-bullet-active { background: #000; }
.swiper-container-vertical > .swiper-pagination-bullets {
  right: 10px;
  top: 50%;
  -webkit-transform: translate3d(0px, -50%, 0);
  -moz-transform: translate3d(0px, -50%, 0);
  -o-transform: translate(0px, -50%);
  -ms-transform: translate3d(0px, -50%, 0);
  transform: translate3d(0px, -50%, 0);
}
.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 5px 0;
  display: block;
}
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet { 
    margin: 0 2px; 
}

/* Preloader */
.swiper-lazy-preloader {
    width: 42px;
    height: 42px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -21px;
    margin-top: -21px;
    z-index: 10;
    -webkit-transform-origin: 50%;
    -ms-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-animation: swiper-preloader-spin 1s steps(12, end) infinite;
    animation: swiper-preloader-spin 1s steps(12, end) infinite;
  }
  .swiper-lazy-preloader:after {
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    background-position: 50%;
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .swiper-lazy-preloader-white:after {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23FFF'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  }
  @-webkit-keyframes swiper-preloader-spin {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes swiper-preloader-spin {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

/* Media Queries ------------------------------------------------------------ */
@media screen and (min-width: 1600px) {
    a.round-button { 
        padding: 0.66rem 1.33rem;
        font-size: 0.88em; 
    }
    h4 { font-size: 1.70rem; }
    .block h2 { font-size: 4rem; }
    .block img[data-type="services"] { max-width: 64px; }
    .block h5[data-type="services"] { font-size: 1.22rem; }
    .block h5[data-type="services"] { padding-top: 3%; }
    .block p[data-type="services"] { font-size: 0.66em; }
    .block[data-type="services-blue"] { 
        background-size: 115%; 
    }
    .block p[data-type="p-small-how"] { font-size: 0.70em; }
    .how-columns p { font-size: 0.70em; }
    .block p[data-type="who"] { padding-top: 28%; }
    .block p[data-type="who-text-smaller"] { font-size: 0.77em; }
    .map h2[data-type="clients"] { font-size: 4rem; }
    .contact-us h3 { font-size: 2.50rem; }
    .contact-us p { font-size: 0.70em; }
    .copyright p { font-size: 14px; }
    .copyright a { font-size: 14px; }
    .globe-icon { 
        margin-top: 1px;
        width: 20px; 
    }
    .globe-icon[data-type="navbar"] { width: 16px; }
    .form-style input[type="button"], .form-style input[type="submit"] {
        width: 130px;
        font-size: 1.33em;
    }
    
}
@media screen and (max-width: 1180px ) {
    .block img[data-type="services"] { margin-left: 12.5%; }
    .block p[data-type="typewrite"] {
         padding-left: 12.5%;
         padding-right: 12.5%;
    }
    .block p[data-type="who-text"] {
        font-size: 0.88em;
        padding-left: 12.5%;
        padding-right: 12.5%;
    }
    .block p[data-type="who-text-smaller"] {
        padding-left: 12.5%;
        padding-right: 12.5%;
    }
    .how-columns p { padding-right: 5%; }
    .map h2[data-type="clients"] { font-size: 2.5rem; }
    .contact-us p { font-size: 0.55em; }
}
@media screen and (max-width: 2388px) and (orientation:portrait) {
    .align-center[data-type="header"] {
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
     }
    .grid[data-type="header"] { height: 100%; }
    .slide-view { right: 0; max-width: 100%; }
    .block[data-type="portfolio-slides"] { 
        position: relative;
        padding-bottom: 0;
        background: #333;
        box-shadow: 0px 35px 20px #333, 0px -35px 20px #333;
        z-index: 999999;
    }
    .slide-bg { background-image: unset !important; } 
}

@media screen and (max-width: 960px) {
    #hero { margin-left: 5%; }
    #pricing {
        padding-left: 25%;
        padding-right: 25%;
    }
    .portfolio-wrapper { padding-top: 0; }
    .grid[data-type="header"] { height: 100%; }
    .align-center[data-type="header"] {
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    h3 { text-align: center; }
    .menu__item { display: none; }
    .menu__item[data-type="es"] { display: none; }
    .globe-icon[data-type="navbar"] { display: none; }
    .keys { display: none; }
    .block[data-type="header"] { text-align: center; }
    .block h2 {
        padding-left: 0;
        text-align: center;
    }
    .block img[data-type="services"] { 
        margin-top: 0;
        margin-left: 30%;
        margin-bottom: 5%;
    }
    .slide-view {
        padding-left: 0;
        padding-right: 0;
    }
    .portfolio-wrapper { padding-top: 15%; }
    .progressive img { width: 100% !important; }
    .block[data-type="services"] { text-align: center; }
    .services-space { border-left: none; }
    .services-space:hover[data-type="blue"]   { border-left: none; }
    .services-space:hover[data-type="yellow"] { border-left: none; }
    .services-space:hover[data-type="orange"] { border-left: none; }
    .block h5[data-type="services"] {
        font-size: 1.25rem;
        padding-top: 1.5%;
        color: #FFF; 
    }
    .block p[data-type="services"] { padding-right: 30%; }
    .block[data-type="services-blue"] {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    .how-bg {
        background-position: 50% 10%;
        background-size: 85%;
    }
    .process { 
        padding-top: none;
        padding-bottom: none;
        height: auto;
        border-bottom: none;
    }
    .process h4, .process p, .process img {
        padding-left: none;
    }
    .process:hover[data-type="blue"] {
        border-bottom: none;
        transform: none;
    }
    .process:hover[data-type="yellow"] {
        border-bottom: none;
        transform: none;
    }
    .process:hover[data-type="orange"] {
        border-bottom: none;
        transform: none;
    }
    .process[data-type="orange"] { border-bottom: none; }
    .process-action a { display: none; }
    .process-info { display: none;}
    .how-container  { padding-top: 30%; }
    .how-columns { margin-bottom: 0; }
    .how-columns p { padding-right: 0; }
    .how-columns img { margin-top: 20%; }
    .how { max-width: 50%; }
    .block h2[data-type="how"] { 
        text-align: center; 
        padding-left: 0;
        padding-top: 0;
    }
    .block p[data-type="how"] {  
        text-align: center;
        padding-left: 30%;
        padding-right: 30%;
    }
    .block p[data-type="p-small-how"] {
        padding-left: 27.5%;
        padding-right: 27.5%;
    }
    .block[data-type="how-faq"] { 
        padding-top: 10%;
    }
    .block[data-type="how-faq"] img {
        max-width: 80%;
        left: 0;
        margin-left: auto;
        margin-right: auto;
    }
    .how-columns {
        margin-left: 30%;
        margin-right: 30%;
    }
    .block[data-type="how"] { 
        padding-top: 0;
        text-align: center;
    }
    .lity-image img { max-width: 100% !important; }
    .block h2[data-type="who"] {
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }
    .block[data-type="who"] { padding-top: 40%; padding-right: 0; }
    .block p[data-type="who"] { padding-top: 20%; }
    .block p[data-type="who-text"] {
        padding-left: 20%;
        padding-right: 20%;
        text-align: center;
    }
    .block[data-type="who-text"] { height: auto; padding-bottom: 10%; border-right: none; }
    .block p[data-type="who-text-smaller"] {
        padding-left: 20%;
        padding-right: 20%;
    }
    #about { padding-left: 0; padding-right: 0; }
    .block[data-type="who-text"] > p { 
        padding-left: 27.5%;
        padding-right: 27.5%;
     }
    a.round-button[data-type="gray"]   { margin-left: 0; }
    a.round-button[data-type="yellow"] { margin-left: 0; }
    a.round-button[data-type="orange"] { margin-left: 0; }
    a.round-button[data-type="red"]    { margin-left: 0; }
    .footer { padding-top: 5%; }
    .map {
        background-position: 50% 50%;
        background-size: 100%;
    }
    .svg {
    margin-right: 7px;
    margin-left: 7px;
    }
    .social-networks ul {
         padding: 0;
         margin: auto 0;
    }
    .social-networks[data-type='header'] {
        position: relative;
        right: 0;
        margin-left: 0;
    }
    .social-networks {
        display: inline-block;
    }
    .contact-bg {
         background-position: 0% 35%;
         background-size: 70%;
    }
    .contact-us { padding-bottom: 10%; }
    .contact-us p { text-align: center; }
    .contact-us h3 { text-align: center; }
    .contact-us p[data-type="subline"] { padding-right: 0; }
    .copyright p {
        text-align: center;
        left: 0;
        right: 0;
        font-size: 8px;
        bottom: 20px;
    }
    .copyright a { font-size: 8px; }
    .footer-copy p { text-align: center; }
    .globe-icon { display: none;  }
    .contact-container {
        height: 100%;
        float: left;
        width: 100%;
    }
    .form-style .success { 
        text-align: center;
        display: inline-block;
        margin-left: 0;
    }
    .form-style {
        padding-left: 15%;
        padding-right: 15%;
    }
    .block[data-type="portfolio-slides"] { 
        position: relative;
        padding-bottom: 0;
        background: #333;
        box-shadow: 0px 35px 20px #333, 0px -35px 20px #333;
        z-index: 999999;
    }
    .swiper-pagination[data-type="right-space"] { padding-right: 0; }
    .swiper-container { height: 90vw; }
    .slide-bg { 
        height: 80vw; 
        background-image: unset !important; 
    }
    .slide-view { right: 0; max-width: 100%; }
    #letter { padding-top: 15%; }
}

@media screen and (max-width: 846px) { 
    .block img[data-type="services"] { margin-left: 25%; }
    .block p[data-type="services"] { padding-right: 25%; }
}

@media screen and (max-width: 736px)  {
    a.round-button { font-size: 20pt; }
    #hero { margin-left: 2.5%; }
    .align-bottom[data-type="header"] { bottom: 20%; }
    #pricing {
        padding-left: 5%;
        padding-right: 5%;
    }
    p { font-weight: 400; }
    .navbar { height: 45px; }
    .menu-bg { height: 80px; }
    .logo-dot {
        left: 20px;
        top: 20px;
        height: 22px;
        width: 22px;
    }
    .logo-dot img {
        max-width: 12px;
        padding-top: 5px;
        padding-right: 0px;
    }
    .globe-icon {
        margin-right: 8px;
        width: 12px;
        float: left;
    }
    .block[data-type="header"] span {
        position: absolute;
        color: #444;
        font-size: 0.55em;
        margin-top: -2px;
    }
    .menu__item[data-type="es"] { right: 85px; }
    .menu--shylock .menu__link { font-size: 10px; }
    .menu--shylock .menu__link { margin: -11px 10px 0 10px; }
    .menu--shylock .menu__link::before,
    .menu--shylock .menu__link::after  { top: 48px; }
    .block h2 { font-size: 14vw; }
    .portfolio-wrapper { padding-top: 35%; }
    .block h5[data-type="services"] { padding-top: 1.5%; }
    .block img[data-type="services"] { margin-bottom: 10%; }
    .how-columns p { font-weight: 400; }
    .btn--primary { width: 130px; }
    .svg {
        max-width: 44px;
        min-width: 44px;
    }
    .svg[data-type="flickr"] { padding-bottom: 4px; }
    .svg[data-type="dribbble"] {
        max-width: 44px;
        min-width: 44px;
    }
    .footer { padding-top: 0; }
    .form-style { padding-left: 0; padding-right: 0; }
    .form-style input { padding: 3%; }
    .form-style textarea {
        padding-left: 20px;
        padding-top: 3%;
    }
    #letter { padding-top: 35%; }
    #letter p[data-type="subline"] { font-size: 0.80em; }
    .header-bg[data-type="letter"] { background-position: 250% 0%; }
    .contact-us p[data-type="subline"] { font-weight: 400; }
    .contact-us p { font-weight: 400; }
    .copyright p { font-weight: 400; }
    .block[data-type="services"] { padding-top: 0%; }
    .slide-bg { height: 70vw; }
    .swiper-container { height: 80vw; }
    .slide-view { max-width: 100%; }
}

@media screen and (max-width: 640px) {
    .block img[data-type="services"] {
        margin-bottom: 20% !important;
    }
    h2 { 
        text-align: center; 
    }
    h3 { 
        text-align: center;
        font-size: 1.22rem;
        line-height: 0rem;
     }
    .logo { width: 135px !important; }
    .header-bg { 
        background-size: 160%;
        background-position: -37% bottom;
    }
    .header-bg[data-type="2"] { 
        background-size: 50%;
        background-position: 50% 50%;
    } 
    a.round-button[data-type="play"] { 
        font-size: 12px; 
        background-position: 96px 8px;
    }
    a.round-button:hover[data-type="play"] { background-position: 96px 8px !important; }
    .globe-icon[data-type="navbar"] { margin: 12px 10px 0 0; }
    .menu--shylock .menu__link { font-size: 10px; letter-spacing: 3px;}
    .menu__item[data-type="es"] { right: 65px !important; }
    .flex {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
     p {font-size: 0.66em; }
    .block[data-type="portfolio-slides"] { padding-top: 0; }
    .logo-who { max-width: 20%; }
    .block h2 { 
        text-align: center; 
        padding-left: 0; 
    }
    .services-wrapper { 
        padding-top: 0%; 
        padding-bottom: 30%; 
    }
	.block[data-type="services"] { 
        text-align: center;
        height: 65vh;
    }
    .block[data-type="services-blue"] {
	   padding-top: 20%;
	   height: auto;
	}
    .block h5[data-type="services"] { 
        font-size: 0.99rem;
        line-height: 0.11em;
        padding-top: 2.5% !important;
    }
    .block p[data-type="services"] { 
        padding-right: 0; 
    }
    .block img[data-type="services"] {
	   max-width: 72px;
       margin-left: 0;
       margin-right: 0;
       margin-bottom: 11.5%;
	}
    .how {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .how-container { padding-top: 25%; } 
    .how-bg {
        background-position: 50% 8%;
        background-size: 90%;
    }
    .how-columns { 
        margin-top: 30%;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
    }
    .block[data-type="how-faq"] { margin-bottom: 0; }
    .block[data-type="how"] {
        text-align: center;
        padding-top: 0%;
        height: 50%;
    }
    .block h2[data-type="how"] {
        text-align: center; 
        padding-top: 15%;
    }
    .block p[data-type="how"] { 
        padding-left: 0%;
        padding-right: 0%;
        text-align: center;
    }
    .block p[data-type="p-small-how"] { 
        padding-left: 0%;
        padding-right: 0%;
        text-align: center; 
    }
    .block[data-type="how-faq"] img { max-width: 100%; }
    .block h2[data-type="who"] {
        padding-top: 30%;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }
    .block p[data-type="who"] { padding-top: 42.5%; }
    .block p[data-type="typewrite"] { font-size: 1.00em; }
    .block p[data-type="who-text"] {
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 5%;
    }
    .block p[data-type="who-text-smaller"] { 
        padding-left: 10%;
        padding-right: 10%; 
        font-size: 0.44em;
    }
    a.round-button[data-type="yellow"] { 
        padding: 0.33rem 1.22rem;
        margin-left: 0;
    }
    a.round-button[data-type="orange"] { 
        padding: 0.33rem 1.22rem;
        margin-left: 0;
     }
    a.round-button[data-type="red"] { 
        padding: 0.33rem 1rem;
        margin-left: 0;
    }
    .social-networks ul { margin: 0; }
    .globe-icon {
        width: 10px;
        float: right;
    }
    .map { 
        background: url(img/v-map-2x.png);
        background-repeat: no-repeat;
        background-size: 100%; 
        background-position: 50% 35%; 
    }
    .map h2[data-type="clients"] { 
        padding-top: 0; 
        font-size: 10vw;
    }
    .contact-container { height: 80% }
    .contact-container { height: 80% }
    .contact-us p { text-align: center; }
    .contact-us { padding-bottom: 35%; }
    .contact-us h3 { font-size: 1.55rem; }
    .contact-us p[data-type="subline"] { font-size: 0.66em; }
    .success h3 { 
        font-size: 1.66rem; 
        text-align: center;
    }
    .slide-bg[data-type="1"] { background-size: 200%; }
    .swiper-wrapper { height:200vh; }
}

@media screen and (max-width: 480px) { 
    .block img[data-type="services"] { 
        max-width: 64px;
        margin-left: 0; 
        margin-bottom: 50% !important;
    }
    .block h5[data-type="services"] { font-size: 0.77rem; }
    .block p[data-type="services"] { 
        padding-right: 0;
    }
    .how-columns {
        margin-left: 0;
        margin-right: 0;
    }
    a.round-button:hover[data-type="play"] {
        background-position: 84px 7px;
        background-size: 8px;
    }
}

@media screen and (max-width: 960px) and (orientation:landscape) { 
    .block[data-type="portfolio-slides"] { margin-bottom: 25%; }
    .block[data-type="who"] { padding-top: 0; }
}
@media screen and (max-width: 846px) and (orientation:landscape) { 
    .block img[data-type="services"] { margin-bottom: 20%; }
}
@media screen and (max-width: 736px) and (orientation:landscape) {
    a.round-button { font-size: 22px;}
    .portfolio-wrapper {
        padding-top: 15%;
    }
    #pricing {
        padding-left: 25%;
        padding-right: 25%;
    }
    .header-bg { 
        background-size: 55%;
        background-position: 125% bottom;
    }
    .globe-icon[data-type="navbar"] { margin: 10px 10px 0 0; }
    .logo img { max-width: 35%; }
    .block { height: 140vh; }
    .block h2 { font-size: 8vw; }
    .block[data-type="portfolio-slides"] { 
        margin-bottom: 0%;
        padding-top: 0;
        padding-bottom: 0;
    }
    .block p[data-type="services"] { padding-right: 25%; }
    #services { margin-top: 0; }
    .services-wrapper { 
        padding-top: 0%;
        padding-bottom: 0%;
    }
    .block[data-type="services"] {
        padding-top: 30%;
        padding-bottom: 0;
        height: 100%;
    }
    .block h5[data-type="services"] { 
        padding-top: 2%; 
        font-size: 1.22rem;
        line-height: 0.55em;
    }

    .block[data-type="services-blue"] {
        height: 100%;
        padding-top: 20%;
    }
    .block img[data-type="services"] { 
        max-width: 72px;
        margin-left: 20%; 
        margin-bottom: 20%;
    }
    .how { max-width: 70%; }
    .how-container { padding-top: 0; }
    .how-columns { 
        margin-top: 0;
        margin-bottom: 0;
    }
    .block[data-type="how"] { 
        padding-top: 0%;
        height: 65%;
    }
    .block h2[data-type="how"] { padding-top: 10%; }
    .block p[data-type="how"] {
        padding-left: 25%;
        padding-right: 25%;
    }
    .block[data-type="how-faq"] { 
        padding-top: 20%;
        height: 80%;
        margin-bottom: 0;
    }
    .logo-who { max-width: 15%; }
    .block h2[data-type="who"] { padding-top: 20%; }
    .block p[data-type="who"] { padding-top: 30%; }
    .block[data-type="who"] { height: auto; }
    .swiper-wrapper[data-type="2"] { height: 100vh; }
    .block p[data-type="typewrite"] {
        margin-top: 1%;
        margin-bottom: 1%;
    }
    .block p[data-type="who-text"] { 
        padding-bottom: 0%; 
        padding-left: 10%;
        padding-right: 10%
    }
    .block p[data-type="who-text-smaller"] {
        padding-left: 12%;
        padding-right: 12%;
    }
    .map h2[data-type="clients"] {
        padding-top: 5%;
        font-size: 7vw;
    }
    .map p[data-type="clients"] { padding-bottom: 0%; }
    .map { 
        background: url(img/v-map-2x.png);
        background-repeat: no-repeat;
        background-size: 100%; 
        background-position: 50% 35%; 
    }
    .footer { 
        padding-top: 30%; 
        padding-bottom: 30%; 
    }
    .form-style {
        margin-top: 10%;
        padding-bottom: 0;
        padding-left: 5%;
        padding-right: 5%;
    }
    .form-style textarea { height: 40vh; }
    .form-style .success { margin-top: 30%; }
    .contact-bg {
        background-position: 40% 45%;
        background-size: 100%;
    }
    .contact-us { padding-bottom: 0; }
    .contact-container { height: 160%; }
    .copyright p { text-align: center; }
    .map p[data-type="contact-info"] { padding-bottom: 10%; }
    .about-photos { height: 240vh; }
    #letter { padding-top: 15%; }
    .header-bg[data-type="letter"] {
        background-position: 100% 100%;
        height: 150%;
    }
}
@media screen and (max-width: 640px) and (orientation:landscape) {
    .block[data-type="portfolio-slides"] { height: 90%; }
    .block h5[data-type="services"] { padding-top: 4.5%; }
    .block p[data-type="p-small-how"] {
        padding-left: 15%;
        padding-right: 15%;
    }
    .block img[data-type="services"] { margin-left: 15%; }
    .block p[data-type="services"] { padding-right: 15%; }
}

/* 1200px to 320px grid and Normalize.css ----------------------------------- */
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}
audio,canvas,video{display:inline-block}
audio:not([controls]){display:none;height:0}
[hidden]{display:none}
html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
body{margin:0}
a:focus{outline:0}
a:active,a:hover{outline:0}
a{text-decoration: none;}
abbr[title]{border-bottom:1px dotted}
b,strong{font-weight:bold}
dfn{font-style:italic}
hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}
mark{background:#ff0;color:#000}
code,kbd,pre,samp{font-family:monospace, serif;font-size:1em}
pre{white-space:pre-wrap}
q{quotes:"\201C" "\201D" "\2018" "\2019"}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-0.5em}
sub{bottom:-0.25em}
img{border:0}
svg:not(:root){overflow:hidden}
figure{margin:0}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em}
legend{border:0;padding:0}
button,input,select,textarea{font-family:inherit;font-size:100%;margin:0}
button,input{line-height:normal}
button,select{text-transform:none}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}
button[disabled],html input[disabled]{cursor:default}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
textarea{overflow:auto;vertical-align:top}
table{border-collapse:collapse;border-spacing:0}

/* Clearfix by Nicolas Gallagher -------------------------------------------- */
.row:before,.row:after,.clearfix:before,.clearfix:after{content:'';display:table}
.row:after,.clearfix:after{clear:both}
.row,.clearfix{zoom:1}

/* Gridiculous -------------------------------------------------------------- */
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box}
body{font-size:100%;}
.grid{margin:0 auto;max-width:100%;width:100%;height: 100%;}
img{max-width:100%;height:auto;display:block;margin-left:auto;margin-right:auto}
.wfull{width:100%;max-width:100%}
.w320{max-width:320px}
.w640{max-width:640px}
.w960{max-width:960px}
.w1600{max-width:1600px}
.row{width:100%;margin-bottom:0}
.row .row{width:auto;margin:0}
.c1{width:8.33%}
.c2{width:16.66%}
.c3{width:25%}
.c4{width:33.33%}
.c5{width:41.66%}
.c6{width:50%}
.c7{width:58.33%}
.c8{width:66.66%}
.c9{width:75%}
.c10{width:83.33%}
.c11{width:91.66%}
.c12{width:100%}
.c1,.c2,.c3,.c4,.c5,.c6,.c7,.c8,.c9,.c10,.c11,.c12{min-height:1px;float:left;padding-left:20px;padding-right:20px;position:relative}
.s1{margin-left:8.33%}
.s2{margin-left:16.66%}
.s3{margin-left:25%}
.s4{margin-left:33.33%}
.s5{margin-left:41.66%}
.s6{margin-left:50%}
.s7{margin-left:58.33%}
.s8{margin-left:66.66%}
.s9{margin-left:75%}
.s10{margin-left:83.33%}
.s11{margin-left:91.66%}
.end{float:right!important}

.c8[data-type="zero-padding"], .c12[data-type="zero-padding"] {padding-left:0;padding-right:0;}
/* Media query for 960 Screens ---------------------------------------------- */
@media only screen and (max-width:960px){
.row .row .c1,.row .row .c2,.row .row .c3,.row .row .c4,.row .row .c5,.row .row .c6,.row .row .c7,.row .row .c8,.row .row .c9,.row .row .c10,.row .row .c11,.row .row .c12{width:100%;margin-bottom:0}
.row .row > div:last-child{margin-bottom:0 !important}
.c7[data-type="zero-padding"] {padding-left:0;padding-right:0;}
}

/* Media query tablets ------------------------------------------------------ */
@media handheld, only screen and (max-width: 960px), only screen and (max-device-width: 960px) and (orientation:portrait) {
body{font-size:90%}
.row{margin-bottom:0 !important}
.c1,.c2,.c3,.c4,.c5,.c6,.c7,.c8,.c9,.c10,.c11,.c12{width:100%;margin-right:0;margin-left:0;margin-bottom:0}
}
